server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: banking-service
          uri: lb://banking-service
          predicates:
            - Path=/api/**
          filters:
            - name: Retry
              args:
                retries: 3
                statuses: BAD_GATEWAY, GATEWAY_TIMEOUT, SERVICE_UNAVAILABLE
                methods: GET,POST
                backoff:
                  firstBackoff: 50ms
                  maxBackoff: 500ms
                  factor: 2
                  basedOnPreviousValue: false
            - name: CircuitBreaker
              args:
                name: bankingServiceCircuitBreaker
                fallbackUri: forward:/fallback
management:
  endpoints:
    web:
      exposure:
        include: health,info

